body {
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  padding-bottom: 100px;
}
menu {
  background-color: yellow;
  padding: 20px;
}
h2 {
  font-size: 30px;
  line-height: 100px;
}
.pill {
  background-color: turquoise;
  border: solid 1px black;
  padding: 20px;
}

/* EXERCICE 1 */
.exercice1 ul {
  display: flex;
  flex-direction: row;
}
/* EXERCICE 2 */
.exercice2 ul {
  display: flex;
  flex-direction: row-reverse;
}
/* EXERCICE 3 */

.exercice3 ul {
  display: flex;
}

.exercice3 li {
  text-align: center;
  flex-grow: 1;
}
/* EXERCICE 4 */
.exercice4 {
  justify-content: space-around;
}

.exercice4 ul {
  display: flex;
  text-align: center;
}

.exercice4 li {
  flex-grow: 1;
  justify-content: space-between;
}

.exercice4 li:nth-child(2) {
  flex-grow: 4;
}

.exercice4 li:nth-child(1) {
  margin-right: 30px;
}

.exercice4 li:nth-child(3) {
  margin-left: 30px;
}

/* EXERCICE 5 */

.exercice5 {
  display: flex;
  justify-content: space-between;
}

.exercice5 ul {
  display: flex;
}

/* EXERCICE 6 */
.exercice6 ul {
  width: 60px;
  margin-left: 900px;
}
/* EXERCICE 7 */
.exercice7 ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.exercice7 ul li {
  border-radius: 20px;
}
